.container{
    background-color: #222222;
    padding:40px;
    max-width: 300px;
    margin: 50px auto;
    border-radius: 12px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
}

.inputVal{
    height: 50px;
    background-color: #303134;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    background-color: #5f6368;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color:#ffffff;
    border: 0px;
    cursor: pointer;
}

button:hover{
    background-color: #969da3;
}